
nav {
  background-color: #31656b;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 20px auto; /* auto centers it horizontally */
  display: flex;
  gap: 20px;
  max-width: 590px; /* controls how short it is */
  justify-content: center;
}

nav a {
  color: rgb(226, 231, 231);
  text-decoration: none;
  font-weight: 450;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #878d7a; /* Lighter purple on hover */
}
