/* Home Page Styles */
/* home.component.css */
:host {
  display: block;
  min-height: 100vh;
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #255f53;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.home-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #5888a5;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #8c63b2;
}
